body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

input, textarea, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: hotpink;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.card {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
